</main>
</div>
<footer>
    <style>
        .copyright{
            margin: auto;
            text-align: center;
            color: white;
        }
    </style>
  <p class="copyright"> &copy; dee styling <span class="date"></span></p>
</footer>
</body>

<script>
    const date = document.querySelector(".date")
    date.innerText = new Date().getFullYear()
</script>
</html>
